@import url('https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap');

body {
  font-family: 'Rubik', sans-serif;
  text-align: center;
}
.background-image {
  background-image: url(images/alarm-clock-bg.jpg);
  max-height: 100vh;
  max-width: 100vw;
  object-fit: cover;
  margin: auto;
  background-position: center center;
}
.container {
  min-height: 100vh;
  min-width: 100vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}
.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.lines {
  /*width: 56px;*/
  font-size: 56px;
  color: #206e8f;
  /*border-radius: 50%;*/
}
.smart-fox {
  text-align: center;
  color: #206e8f;
}
.fa-question-circle {
  font-size: 56px;
  color: #206e8f;
}
.footer {
  background: #206e8f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgb(255,255,255);
  width: 100%;
}
.footer-links {
  display: block;
  align-items: center;
}
.footer-links a {
  color: rgb(255,255,255);
  text-decoration: none;
  font-size: 12px;
  padding: 0px 10px;
  transition: 0.3s;
}
.footer-links a:hover {
  color: #ee5928;
}
.email-link a {
  color: rgb(255,255,255);
  text-decoration: none;
  font-size: 12px;
  padding: 0px 10px;
  transition: 0.3s;
}
.email-link a:hover {
  color: #ee5928;
}
.display_time_left_count {
  width: 20%;
  color: rgb(255,255,255);
  margin: 0 auto;
}
